body {
    background-color: white; /* Sky blue background */
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center;
    align-items: center;
  }